@model SampleAppWithDapper.Models.Contacts.CreateContactViewModel

@{
    ViewBag.Title = "Create a contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/toastr.js/toastr.min.js"></script>
<link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />
<style type="text/css">
    .btnSubmit {
    }
</style>
<header class="bg-gradient" id="home">
    <div class="container mt-3">
        @*<p class="tagline">The one and only solution for any kind contact management. </p>*@
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col align-self-center" style="width: 99%; margin: 0 auto;">
            <section id="createContactForm">
                @using (Html.BeginForm("Create", "Contact", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @*@Html.AntiForgeryToken()*@

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.EMail, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.EMail, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.EMail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.TelephoneNumber_Entry, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.TelephoneNumber_Entry, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.TelephoneNumber_Entry, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-primary btnSubmit" /> 
                            <input type='button' class="btn btn-primary " style="float: right" value='BACK' onclick='window.location = "@Url.Action("Index", "Contact")";' />
                        </div>
                    </div>
                }
            </section>
        </div>
       
    </div>
</div>