@model SampleAppWithDapper.Models.Contacts.ContactDeleteViewModel

@{
    ViewBag.Title = "Delete a contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/toastr.js/toastr.min.js"></script>
<link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />
<style type="text/css">
    .btnSubmit {
    }

    .btnEdit {
    }

    .btnDelete {
    }

    .btnBack {
    }
</style>
<header class="bg-gradient" id="home">
    <div class="container mt-3">
        <p class="tagline">@Resource.DeleteContact_Tagline </p>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col align-self-center" style="width: 99%; margin: 0 auto;">

            <section id="createContactForm">
                @using (Html.BeginForm("Delete", "Contact", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.HiddenFor(m => m.Id)

                    @Html.AntiForgeryToken()

                    <hr />
                    <div class="form-group">
                        <div class="col-md-10">
                            <span style="align-content: center; color: red "><b>@Resource.DeleteContact_Are_You_Sure_Prompt</b></span>
                        </div>
                        <hr />
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.EMail, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.EMail, new { @class = "form-control", @readonly = "readonly", @Name = "", @style = "background-color: pink" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @readonly = "readonly", @Name = "", @style = "background-color: pink" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @readonly = "readonly", @Name = "", @style = "background-color: pink" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.TelephoneNumber_Entry, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.TelephoneNumber_Entry, new { @class = "form-control", @readonly = "readonly", @Name = "", @style = "background-color: pink" })
                        </div>
                    </div>
                    @*<div class="form-group">
                            @Html.LabelFor(m => m.CreatedUtc, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.CreatedUtc, new { @class = "form-control", @readonly = "readonly", @Name = "" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.CreatedBy, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.CreatedBy, new { @class = "form-control", @readonly = "readonly", @Name = "" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ModifiedUtc, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.ModifiedUtc, new { @class = "form-control", @readonly = "readonly", @Name = "" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ModifiedBy, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.ModifiedBy, new { @class = "form-control", @readonly = "readonly", @Name = "" })
                            </div>
                        </div>*@
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">

                            <button type="submit" class="btn btn-outline-danger btn-sm btnDelete" aria-label="Right Align" style="" >
                                <i class="fa fa-trash-o fa-lg"></i> @Resource.DeleteContact_Delete_Button
                            </button>

                            <button type="button" class="btn btn-outline-dark btn-sm btnBack" aria-label="Right Align" onclick='window.location="@Url.Action("Index", "Contact")";' style="float:right">
                                <i class="fa fa-arrow-left fa-lg"></i> @Resource.DeleteContact_Back_Button
                            </button>

                        </div>
                    </div>
                }
            </section>

        </div>
    </div>
</div>
